<% if current_user.admin? %>
  <!-- Single button -->
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#">Home</a></li>
	  <li><a href="home">User</a></li>
	  <li><a href="welcome">Group</a></li>
	  <li><a href="#">Report</a></li>
	</ul>

<% else %>
  HUHU
<% end %>
