<p>
  Ban da dang ky thanh cong tai khoan.<br>
	Sau khi kiem tra tai khoan cua ban se duoc active trong vong 12h.<br>
	Xin vui long kiem tra email de nhan duoc mat khau truy cap.<br>
</p>
<p>New user? <%= link_to "Sign up now!", root_path %></p>
